.container-main-art {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.contenue-art {
    margin-left: 80px;
    background-color: rgba(26, 26, 26, 0.616);
    height: 100%;
    padding: 20px;
    border-radius: 20px;
}

.concert {
    margin-left: 50px;
    background-color: rgba(26, 26, 26, 0.616);
    height: 100%;
    padding: 20px;
    border-radius: 20px;
}

.img-art {
    width: 200px;
    height: 200px;
    border-radius: 1500px;
    border: solid 2px;
}




